<div id="user">
<%= link_to '投稿一覧へ', posts_path %><br /><br />

<%= form_for @user, class: 'user_form' do |f| %>
<table>
<tr>
    <td class="label">名前:</td>
    <td class="field"><%= f.text_field :name, class: 'box1' %></td>
</tr>

<tr>
    <td class="label">メールアドレス:</td>
    <td><%= f.text_field :email, class: 'box1' %></td>
</tr>

<tr>
    <td class="label">パスワード:</td>
    <td><%= f.password_field :password, class: 'box1' %></td>
</tr>

<tr>
    <td class="label">アイコン画像:</td>
    <td><%= f.text_field :icon, class: 'box1' %></td>
</tr>

</table>

  <div class="button2"><%= f.submit 'ユーザ登録' %></div>
<% end %>
</div>