<div class="main">
<div class="col-md-8">
<% if logged_in? %>
    <%= render 'form' %>
<% end %>

<!-- <h2>投稿一覧</h2> -->
<div id="top">
<table>
    <% @posts.each do |post| %>
    <tr>
        <td class="icon">
            <%= image_tag post.user.icon, width: 50, height: 50 %><br>
            「<%= post.user.name %>」
        </td>
        <!-- <td class="name">「<%= post.user.name %>」</td> -->
        <td class="body">
            <%= image_tag(post.picture_url, width:380) if post.picture.present? %><br>
            <p><%= post.body %></p>
        </td>
    </tr>
    <tr>
        <% if logged_in? && current_user == post.user %>
<!--             <td><%#= link_to post_path(post), method: :delete  do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <%# end %>
            </td> -->
            <td colspan="3" class="trash">
                <%= link_to(content_tag(:i, '', class: 'fa fa-trash-o'), post_path(post), :method => :delete) %>
            </td>
        <% end %>
    </tr>
    <% end %>
</table>
</div>
</div>